
.pagination {
  list-style: none;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  font-family: Roboto-mono, monospace;

  li {
    border: 1px solid darkgray;
    min-width: 2.86em;
    text-align: center;
    cursor: pointer;
    border-collapse: collapse;
    color: blueviolet;
    font-size: 0.875rem;
    margin-left: -1px;
    transition: all .1s linear;

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 0.5em 0.86em;
      outline: none;
    }
  }

  .next, .previous {
    margin: 0 0.625rem;
  }

  .active {
    background-color: blueviolet;
    color: white;
  }

  .disabled {
    color: black;
    cursor: default;

    a {
      tab-index: -1;
      outline: none;
    }
  }
}